.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 4px;
    flex-direction: row;
  }
  
  .task-text {
    font-size: 16px;
    flex: 1;
  }
  
  .completed .task-text {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Contenedor de botones */
  .actions {
    display: flex;
    gap: 10px;
  }
  
  /* Botón "Completar" */
  .complete-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #7bda8f;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease; 
  }
  
  .complete-button:hover {
    background-color: #7bda8f;
  }
  
  /* Botón "Eliminar" */
  .delete-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #ff4d4d;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease; 
  }
  
  .delete-button:hover {
    background-color: #ff4d4d;
  }